---
- name: Drop InfluxDB config
  template:
    src: influxdb.conf.j2
    dest: "{{ influxdb_conf_dir }}/influxdb.conf"
  notify:
    - Restart influxdb

- name: Create influxdb dir
  file:
    state: directory
    path: "{{ influxdb_dir }}"
    owner: influxdb
    group: root
    mode: 0775

- meta: flush_handlers
