# {{ ansible_managed }}
reporting-disabled = false

[logging]
  level = "info"

[meta]
  dir = "{{ influxdb_dir }}/meta"
  hostname = "{{ influxdb_hostname }}"
  bind-address = "{{ influxdb_bind_address | default('') }}:{{ influxdb_raft_port }}"
  http-bind-address = "{{ influxdb_bind_address | default('') }}:{{ influxdb_meta_http_port }}"
  retention-autocreate = true
  election-timeout = "1s"
  heartbeat-timeout = "1s"
  leader-lease-timeout = "500ms"
  commit-timeout = "50ms"
  cluster-tracing = false
  raft-promotion-enabled = true

[data]
  dir = "{{ influxdb_dir }}/data"
  max-wal-size = 104857600 # Maximum size the WAL can reach before a flush. Defaults to 100MB.
  wal-flush-interval = "10m" # Maximum time data can sit in WAL before a flush.
  wal-partition-flush-delay = "2s" # The delay time between each WAL partition being flushed.
  wal-dir = "{{ influxdb_dir }}/wal"
  wal-enable-logging = true

[coordinator]
  shard-writer-timeout = "10s" # The time within which a shard must respond to write.
  write-timeout = "5s" # The time within which a write operation must complete on the cluster.

[retention]
  enabled = true
  check-interval = "30m"

[shard-precreation]
  enabled = true
  check-interval = "10m"
  advance-period = "30m"

[monitor]
  store-enabled = true # Whether to record statistics internally.
  store-database = "_internal" # The destination database for recorded statistics
  store-interval = "15s" # The interval at which to record statistics

[admin]
  enabled = true
  bind-address = "{{ influxdb_bind_address | default('') }}:{{ influxdb_admin_port }}"
  https-enabled = false
  https-certificate = "/etc/ssl/influxdb.pem"

[http]
  enabled = true
  bind-address = "{{ influxdb_bind_address | default('') }}:{{ influxdb_client_port }}"
  auth-enabled = false
  log-enabled = true
  write-tracing = false
  pprof-enabled = false
  https-enabled = false
  https-certificate = "/etc/ssl/influxdb.pem"

[[graphite]]
  enabled = false

[[collectd]]
  enabled = false

[[opentsdb]]
  enabled = false

[[udp]]
  enabled = false

[continuous_queries]
  log-enabled = true
  enabled = true
  recompute-previous-n = 2
  recompute-no-older-than = "10m"
  compute-runs-per-interval = 10
  compute-no-more-than = "2m"
